# The base path for the entire page.
# e.g., /projects/utah-home-values -> https://example.com/projects/utah-home-values
# Default: /
VITE_BASE_PATH=/

# The base path for the polygon API.
# e.g., https://example.com/projects/utah-home-values/api -> (API requests such as /health and /polygon have that base)
# Default: http://127.0.0.1:8000/api
VITE_FASTAPI_BASE_PATH=

# API key issued by the U.S. Census Bureau
# Default: none, must be specified by the user
CENSUS_API_KEY=